<h1>About</h1>
<p>
  Colorgorical was built by Connor Gramazio with advisement from David Laidlaw
  and Karen Schloss.
</p>

<h2>Documentation</h2>
<p>If you'd like to read more about how Colorgorical works, please read our
  paper <a href="#">here</a>. If you're curious about the implementation, please
  see the Colorgorical GitHub wiki page located <a href="#">here</a>.
</p>

<p>If you use Colorgorical, please use the following citation:</p>
<pre>
@article{gramazio-2017-ccd,
  author={Gramazio, Connor C. and Laidlaw, David H. and Schloss, Karen B.},
  journal={IEEE Transactions on Visualization and Computer Graphics},
  title={Colorgorical: creating discriminable and preferable color palettes for information visualization},
  year={2017}
}
</pre>
