<h1>Instructions</h1>
<p>
  To generate a palette with <em>n</em> colors, just enter the number of colors
  you want and click <em>Generate</em>. Bigger palettes will take longer than
  smaller palettes to make. Results will automatically appear when ready.
</p>

<p>You can change the appearence of palettes in several ways. The first is by
  changing how Colorgorical picks colors by dragging the sliders to the left.
  They control how important two types of discriminability (perceptual distance
  and color-name difference), color preference (pair preference), and color-name
  uniqueness should be when selecting colors.</p>

<p>
  You can restrict which hues to include in your palette by using the <em>select
  hue filters</em> panel in the menu bar. By clicking on the hue wheel, or by
  entering an angle interval manually, you can define which hue regions to
  include in your palette. Lightness of colors can be similarly filtered.
</p>

<p>
  You can guarentee that certain colors are in your palette by entering them
  through the <em>Add starting palette colors</em> panel in the menu bar. Make
  sure that you enter colors one at a time, without quotes, and in either HEX
  or RGB format. Alternatively, if you generate a palette and want to add a
  color in it to future generations, click the
  <span class="btn btn-xs btn-default addToStart"><i class="fa fa-plus"></i>
  start</span> button.
</p>

<p>
  For more information,
  please consult our <a href="#">paper</a> or the <a href="#">documentation</a>.
</p>
